<!--<script src="js/vue.min.js" type="text/javascript"></script>-->

<body>
    
    <ul>
        <li v-for="message in messages">{{ message }}</li>
    </ul>
    <message @message-saved="handleMessage"></message>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</body>
<script>
Vue.component('message', {
    template: '<input v-model="message" @keyup.enter="saveMessage">',
    data: function() {
        return {
            message: ''
        }
    },
    methods: {
        saveMessage: function() {
            this.$emit('message-saved', this.message)

            this.message = ''
        }
    }
})

new Vue({
    el: 'body',
    data: {
        messages: []
    },
    methods: {
        handleMessage: function(message) {
            this.messages.push(message)
        }
    }
})
</script>